api:
  insecure: true
providers:
  docker:
    exposedByDefault: false
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
certificatesResolvers:
  le:
    acme:
      email: "you@example.com"
      storage: "/letsencrypt/acme.json"
      tlsChallenge: {}
